@import '../../../property.scss';
.oeil{
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 22px;
    cursor: pointer;
}
main{
    background:$main-lg-in-color;
}
main .login-title{
    width: $fsp-120;
    height: $fsp-30;
    font-size: $fsp-30;
    font-weight: $fw400;
    line-height: $line-height-2;
}
main .connexion-card-header{
    font-size: 1.4375rem;
    letter-spacing: -.1px;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 1.5rem;
}
main a:visited {
    color: $visited-link;
}
main a:visited {
    text-decoration: underline;
}
footer{
    color:$text-black;
    font-size: $font-size;
    font-weight: normal; 
}
@media screen and (min-width:768px){
    main{
        padding-top:5%;
    }
}

@media screen and (max-width:767px){
    main {
        padding-top: 13%;
    }
 
}