@import '../../../property.scss';
div>div.row>div.col-md-12>a.link-footer{
    color:$connexion-color;
    font-size: $font-size;
    font-weight: normal; 
}
div>div.row>div.col-md-12>a.link-footer:hover{ 
    color:$text-blue;
    font-size: $font-size;
    font-weight: normal; 
}

/*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div>div>span{
    display: $flex;
}
/*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div>div>span.sub-text-home.model_1{
    font-size: $fsp-11;
    color:$sth-color;
}

/*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div>div>label.first.model_1{
  
    font-size: $fsp-24;
    font-weight: $fw800;
}

/*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div>div>span.sub-text-home.model_2{
    font-size: $fsp-9;
    color:$sth-color;
}

/*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div>div>label.first.model_2{
  
    font-size: $fsp-13;
    font-weight: $fw800;
    margin-bottom:0px;
}

@media screen and (max-width:767px){
    /*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div.model_1>a[mat-button]{
   
         width: $wper-100;
    }
}
@media screen and (min-width:768px){
    /*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div.model_1>a[mat-button]{
  
        margin-top:$fsp-60;
    }
}



@media screen and (max-width:767px){
    /*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div.model_2>a[mat-button]{
   
         width: $wper-100;
    }
}
@media screen and (min-width:768px){
    /*div.container>div.row>div>div.row>div>div.row>app-search-home>*/div>div.model_2>a[mat-button]{
  
        margin-top:$fsp-43;
    }
}
div>div>a[mat-button]:hover{
  
  text-decoration: none;
}
