fieldset{
    padding:4px;
    border: 1px #cacacacb solid;
    border-radius: 0.43rem;
}
.resume-shared-view-header{
    font-size: 1.4375rem;
    letter-spacing: -.1px;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: 1.5rem;
} 
.form-row.form-group.exp-pro{
    padding:4px;
    border: 1px #cacaca solid;
    border-radius: 0.43rem;
} 
.form-row.form-group.formation{
    padding:4px;
    border: 1px #cacaca solid;
    border-radius: 0.43rem;
} 

.form-row.form-group.langue{
    padding:4px;
    border: 1px #cacaca solid;
    border-radius: 0.43rem;
} 
.form-row.form-group.competence{
    padding:4px;
    border: 1px #cacaca solid;
    border-radius: 0.43rem;
} 

.form-row.form-group.certificat{
    padding:4px;
    border: 1px #cacaca solid;
    border-radius: 0.43rem;
} 