<main>
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-12 text-center">
          <span class="login-title">Kronos-Job</span>
         </div>
          <div class="col-md-4 mx-auto mb-5">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
       
   
  
                <mat-card  class="p-4">
                  <div class="form-group text-center form-row justify-content-center">
                    <span class="rec_pwd-card-header">Réinitialisez votre mot de passe</span>
                  </div>
                  <div class="form-group text-center form-row justify-content-center">
                    <span >Saisissez l'email associé à votre compte KJob et nous vous enverrons les instructions pour réinitialiser votre mot de passe.</span>
                  </div>
 
                  <app-shared-reset-password 
                  [form_step_one]="form"
                  [email]="email"
   
                  ></app-shared-reset-password>
                     
 
  <div class="form-group text-center">
  
  <button [disabled]="form.invalid"   mat-raised-button mat-button color="primary">Envoyer</button>
  
  </div>
  
   
  
  
  
 
 
                </mat-card> 
          
          
              </form>
        
          </div>

          <div class="col-12 text-center">
            <a   routerLink="/login" >Connexion</a>
          </div>
      </div>
  </div>
   
  <!-- 
  
    <mat-card class="alternate-theme">
      Alternate Theme:
      <button mat-raised-button color="primary">
        Primary
      </button>
      <button mat-raised-button color="accent">
        Accent
      </button>
      <button mat-raised-button color="warn">
        Warning
      </button>
    </mat-card> -->
  </main>
  
  <footer class="docs-footer mt-1" >
     <router-outlet name="footer"></router-outlet>
   <!-- <app-footer-bar></app-footer-bar> -->
 </footer>