.green{
    background-color: rgb(16, 219, 124);
}
$text-blue:#2164f3;
$text-white:white;
$text-black:#000;
$font-size:.875rem;
$font-size-1:1.125rem;
$line-height:1.34;
$line-height-1:1.67;
$line-height-2:1.43;
$visited-link:#5a38d6;
$letter-spacing:-.06px;
$inline-flex:inline-flex;
$inline-block:inline-block;
$block:block;
$flex:flex;
$connexion-color:#1c56ac;
$fsp-9:9px;
$fsp-11:11px;
$fsp-13:13px;
$fsp-16:16px;
$fsp-18:18px;
$fsp-24:24px;
$fsp-60:60px;
$fsp-220:220px;
$fsp-112:112px;
$fsp-81:81px;
$fsp-30:30px;
$fsp-43:43px;
$fsp-16:16px;
$fsp-120:120px;
$fsp-121:121px;
$fw800:800;
$fw400:400;
$fw700:700;
$wper-100:100%;
$sth-color:#767676;
$main-sc-color:#faf9f8;
$main-lg-in-color:#f2f2f2;